In [2]:
import requests
import json
import os
import pandas as pd
import numpy as np

# Your Amadeus API credentials
API_KEY = 'smU3kpIphxC2FEdQ5E0h6yF3hmvPCate'
API_SECRET = 'DlIKozfpcoiC4KjQ'

# Endpoint to get the access token
token_url = 'https://test.api.amadeus.com/v1/security/oauth2/token'

# Data to be sent for getting the token
data = {
    'grant_type': 'client_credentials',
    'client_id': API_KEY,
    'client_secret': API_SECRET
}

# Make the request to get the access token
response = requests.post(token_url, data=data)

# Parse the response to get the token
token_response = response.json()
access_token = token_response['access_token']

print('Access Token:', access_token)

Access Token: 70VVKLPb0C0FOow0XoHIYTEdAb8p

In [15]:

flight_offers_url = 'https://test.api.amadeus.com/v2/shopping/flight-offers'

headers = {'Authorization': f'Bearer {access_token}'}

params = {
    'originLocationCode': 'BOM',
    'destinationLocationCode': 'DEL',
    'departureDate': '2024-08-01',
    'adults': 1,
    'currencyCode': 'INR',
    'nonStop': 'true'
}

# add returnDate parameter for return flights

response = requests.get(url=flight_offers_url, headers=headers, params=params)

result = response.json()

In [20]:
flight_data = result['data']

In [37]:
flights = []

for flight in flight_data:
    flight_info =  [flight['id'],
                        flight['itineraries'][0]['segments'][0]['departure']['iataCode'],
                       flight['itineraries'][0]['segments'][0]['arrival']['iataCode'],
                       flight['itineraries'][0]['segments'][0]['departure']['at'],
                       flight['itineraries'][0]['segments'][0]['arrival']['at'],
                       flight['itineraries'][0]['segments'][0]['carrierCode'],
                        flight['price']['total']]
    flights.append(flight_info)

In [41]:
flight_data = pd.DataFrame(np.array(flights),columns=['id','source','destination','departure','arrival','carrier','price'])

In [46]:
flight_data['price'] = flight_data['price'].astype(float)

In [48]:
cheapest_flights = flight_data.sort_values(by=['price'],ascending=True).head(3)

In [49]:
cheapest_flights

,id,source,destination,departure,arrival,carrier,price
0,1,BOM,DEL,2024-08-01T07:00:00,2024-08-01T09:15:00,AI,6415.0
1,2,BOM,DEL,2024-08-01T10:00:00,2024-08-01T12:15:00,AI,6415.0
2,3,BOM,DEL,2024-08-01T11:40:00,2024-08-01T13:55:00,AI,6415.0